<html>

<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <title>CONTUR Visualiser</title>
</head>

<body class="align-items-center">

    <nav class="navbar navbar-light bg-light ml-auto" style="background-color: #e3f2fd;">
        <a class="navbar-brand ml-auto" href="https://gitlab.com/hepcedar/contur">
           <img src="{{url_for('static', filename='png/gitlab.jpg')}}" width="30" height="30" alt="" class="d-inline-block align-top ml-auto">
        </a>
    </nav>
    <div style="display: inline-block; float:left;">
           <img src="{{url_for('static', filename='png/contur.png')}}" width="70" height="70">
        </div>
    </div>
    <div class="page-header">
        <h1 style="text-align: center;">CONTUR Visualisation</h1>
    </div>
    <br>

    <br>
    <div style="display: inline-block; width:50%; float:left;">
        <div id="heatmap" />
        </div>
    </div>
    <br>
    <div id="contour" style="display: none;" />
    </div>
    <br>
    <div id='scatter' style="display: none;" />
    </div>
    <div id="info" style=" margin-top:100px;">
    </div>
    <br>


    <footer>
        <script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
        <script src="{{ url_for('static', filename='js/jquery-1.12.1.min.js')}}"></script>
        <script src="{{ url_for('static', filename='js/main.js')}}"></script>
    </footer>

</body>



</html>
